textarea {
    border-radius: 4px;
    border-color: lightgray;
    border-width: 2px;
    border-style: solid;
    transition: border-color 0.3s ease;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
}

textarea:focus {
    border-color: rgb(185, 27, 233);
}

textarea.small {
    font-size: small;
}

textarea.medium {
    font-size: medium;
}

textarea.large {
    font-size: large;
}