.skeleton-box {
    background-image: linear-gradient(110deg, #e6e6e6, 45%, #9b9b9b 50%, #acacac 51%, 55%, #e6e6e6 60%, #e6e6e6 100%);
    background-size: 270% 100%;
    background-position-x: 100%;
    animation-name: slide;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display: block;
}

.skeleton-box.rounded {
    border-radius: 10px;
}

.skeleton-box.circle {
    border-radius: 50%;
    background-image: linear-gradient(90deg, #e6e6e6, 45%, #9b9b9b 50%, #acacac 51%, 55%, #e6e6e6 60%, #e6e6e6 100%);
}

@keyframes slide {
    from {
        background-position-x: 100%;
    }

    to {
        background-position-x: 0%;
    }
}