#bubbles g {
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

#bubble-large-fr {
    animation-name: bubble-up;
}



#bubble-small-fr {
    animation-name: bubble-down;
}

#bubble-medium-fr {
    animation-name: bubble-side;
}

@keyframes bubble-up {
    from {
        transform: translate(225px, 255px);
    }

    to {
        transform: translate(132px, 100px);
    }
}

@keyframes bubble-down {
    from {
        transform: translate(225px, 255px);
    }

    to {
        transform: translate(230px, 353px);
    }
}


@keyframes bubble-side {
    from {
        transform: translate(225px, 225px);
    }

    to {
        transform: translate(328px, 218px);
    }
}